<a href="https://colab.research.google.com/github/FintradeLab/CinC24_2/blob/main/02_Python_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. What is a variable?**

Something that stores a value

In [5]:
# Example
a = 3.0
print(a)

3.0

In [6]:
# Example as calculator
a = 3.0
b = 4.0
print(a + b)

7.0

In [7]:
# Chain assingment 1
a, b = 3.0, 4.0
print(a + b)

7.0

In [8]:
# Chain assingment 2
x = y = z = 100
print(x, y, z)

100 100 100

# **3. Delete and clear**

In [9]:
# Delete x and y
del x, y

In [10]:
# Erase all variable
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

# **Practice**

In [14]:
# Practice
## Approximate the number 15.476352489
## to 1, 2, 3,..., 8 decimals and print the results

## Use variables

n = 15.476352489
a = 1
b = 9

print('The aprroximation of', n)
for i in range(a, b):
  print('with', i,'decimals is', round(n, i))

The aprroximation of 15.476352489
with 1 decimals is 15.5
with 2 decimals is 15.48
with 3 decimals is 15.476
with 4 decimals is 15.4764
with 5 decimals is 15.47635
with 6 decimals is 15.476352
with 7 decimals is 15.4763525
with 8 decimals is 15.47635249

In [25]:
# Something
w = 0

In [28]:
w += 2

# **4. Naming**

In [ ]:
# Example
x = 39
miedades = 39
laedadquetengoyoes = 39
MiEdad = 39

In [ ]:
my_age = 39

# **5. Data types**

## 5.1. Integers

## 5.2. Floats

## 5.3. Booleans

In [30]:
red_shirt = True

### Boolean expressions

In [33]:
# Example
x = 2
y = 3

print('x is less than y?', x < y)
print('x is greater than y?', x > y)
print('x is equal to y?', x == y)
print('x is not equal to y?', x != y)
print('x is less than or equal to y?', x <= y)
print('x is greater than or equal to y?', x >= y)

x is less than y? True
x is greater than y? False
x is equal to y? False
x is not equal to y? True
x is less than or equal to y? True
x is greater than or equal to y? False

### Boolean math

In [34]:
red_shirt = True
blue_pants = False
print(red_shirt + blue_pants)

1

## 5.4. String

In [41]:
# Example
x = 'Universidad de La Salle'
print(x)

Universidad de La Salle

### Index

In [42]:
# Example
print('The first element of x is:', x[0])
print('The last element of x is:', x[-1])

The first element of x is: U
The last element of x is: e

In [43]:
# Example
print('The second element of x is:', x[1])
print('The second to last element of x is:', x[-2])

The second element of x is: n
The second to last element of x is: l

In [46]:
# Example
print('The first word of x is:', x[0:11])

The first word of x is: Universidad

In [51]:
w = 'jose'
v = 'velez'
print(w + ' ' + v)

jose velez

### Methods

In [47]:
# Upper case
x.upper()

'UNIVERSIDAD DE LA SALLE'

In [48]:
# Lower case
x.lower()

'universidad de la salle'

In [49]:
# replace
nx = x.replace(' ','_')
print(nx)

Universidad_de_La_Salle